// Colors
$color-eriador-green: #CDD53C;
$color-arnor-red: #9E4126;
$color-rhun-grey: #725F49;
$color-mirkwood-green: #725F49;
$color-rohan-blue: #6cb69d;
$color-rhovanion-yello: #D2992E;
$color-gondor-red: #A95011;
$color-mordor-dark: #6A702E;
$color-haradwaith-yellow: #CFAA13;