#game-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;

    max-height: 100vh;

    @media only screen and (max-width: 950px) { 
        grid-template-columns: repeat(3, 1fr);
    };

    @media only screen and (max-width: 750px) { 
        grid-template-rows: repeat(5, 1fr);
    };

    @media only screen and (max-width: 500px) { 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 12rem repeat(5, 1fr);
    };
}

#show-territory-cards-button {
    justify-self: center;
}