#map {
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    height: 88vh;
    width: 50vw;
    align-self: end;

    background-size: contain;

    @media only screen and (max-width: 950px) { 
        grid-column: 2 / 4;
        grid-row: 1 / 4;
        width: 100%;
    };

    @media only screen and (max-width: 750px) { 
        grid-column: 1 / 4;
        grid-row: 2 / 4;

        width: 70%;
        justify-self: end;
    };

    @media only screen and (max-width: 700px) { 
        height: 80vh;
    };

    @media only screen and (max-width: 650px) { 
        height: 75vh;
    };

    @media only screen and (max-width: 600px) { 
        height: 70vh;
    };

    @media only screen and (max-width: 547px) { 
        width: 100%;
    };

    @media only screen and (max-width: 375px) { 
        height: 60vh;
    };
}

button {
    height: 20rem;
    width: 20rem;
    font-size: 3rem;
    float: right;
    
    &:hover {
        cursor: pointer;
    }
}

.endTurnButton {
    background-color: $color-red;
    top: 10rem;
}

.diceInput {
    height: 300rem;
    width: 30rem;
    float: right;

    .label {
        font-size: 3rem;
    }

    input {
        height: 4rem;
        width: 12rem;
        font-size: 2rem;
    }
}