#waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#waiting-image {
    height: 20rem;
    width: 20rem;
    fill: #DAA520;
}