.new-game {
    display: flex;
    flex-direction: column;

    &--header {
        text-align: center;
        height: 5rem;
        font-size: 5rem;
    }

    &--selector {
        display: flex;
        flex-direction: row;
        height: 5rem;
        gap: 2rem;
        padding: 0 5rem 5rem 5rem;

        &_options {
            display: flex;
            width: 100%;
            gap: 2rem;
        }

        @media only screen and (max-width: 75rem) {
            padding: 0 3rem 3rem 3rem;
        }

        @media only screen and (max-width: 60rem) {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }
    }

    &--label {
        width: 20%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    &--option {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        border: 1px solid darkgrey;
        border-radius: 5px;

        text-align: center;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: 0 3px #666;
            transform: translateY(4px, 2s);
        }

        &.selected {
            box-shadow: 0 0 3px 3px $color-10;
            font: bolder;
        }
    }

    &--form {
        display: flex;
        flex-direction: column;

        margin-top: 10rem;
    }
}

#new-game--submit-button {
    align-self: center;
    width: 25rem;

    margin-top: 10rem;
}