#end-turn-button {
    background-color: lightblue;

    &:hover {
        background-color: darken(lightblue, 15%);
    }
}

#combat-button {
    background-color: red;

    &:hover {
        background-color: darken(red, 15%);
    }
}

#unit-maneuver-button {
    background-color: green;

    &:hover {
        background-color: darken(green, 15%);
    }
}

#number-of-players-button {
    background-color: #04ba04;

    &:hover {
        background-color: darken(#04ba04, 10%);
    }
}

.button {
    height: 8rem;
    width: 16rem;
    color: white;
    font-size: 3rem;
    line-height: 1;

    &.disabled {
        cursor: not-allowed !important;
        opacity: .5 !important;
    }
}