#end-turn-button {
    background-color: lightblue;
    color: white;
    font-size: 3rem;
}

#combat-button {
    background-color: red;
    color: white;
    font-size: 3rem;
}

.button {
    height: 8rem;
    width: 16rem;
}