.combat-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    grid-column: 1 / 1;
    grid-row: 2 / 4;

    &__dice-input {
        @media only screen and (max-width: 950px) { 
            display: flex;
            flex-direction: row;
        };
    }

    @media only screen and (max-width: 950px) { 
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        height: 5rem;
    };
}