#game-type-selector {
    @include absCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    &--options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}