.combatTest {
    height: 200px;
    width: 200px;
    background-color: orangered;
    float: right;
}

.diceInput {
    height: 300px;
    width: 300px;
    float: right;

    .label {
        font-size: 20px;
    }

    input {
        height: 40px;
        width: 120px;
        font-size: 20px;
    }
}