button {
    height: 200px;
    width: 200px;
    font-size: 30px;
    float: right;
    
    &:hover {
        cursor: pointer;
    }
}

.endTurnButton {
    background-color: crimson;
    top: 100px;
}

.combatTest {
    background-color: orangered;
}

.diceInput {
    height: 300px;
    width: 300px;
    float: right;

    .label {
        font-size: 20px;
    }

    input {
        height: 40px;
        width: 120px;
        font-size: 20px;
    }
}