#map {
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    justify-self: center;

    border: 1px solid black;
    background-size: contain;
}

button {
    height: 20rem;
    width: 20rem;
    font-size: 3rem;
    float: right;
    
    &:hover {
        cursor: pointer;
    }
}

.endTurnButton {
    background-color: crimson;
    top: 10rem;
}

.diceInput {
    height: 300rem;
    width: 30rem;
    float: right;

    .label {
        font-size: 3rem;
    }

    input {
        height: 4rem;
        width: 12rem;
        font-size: 2rem;
    }
}