.radio-button-icon {
  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio]:checked + img {
    outline: 2px solid black;
  }
}

.font-awesome-icon {
    cursor: pointer;
    color: blue;

    &--checked {
      color: darken($color: blue, $amount: 50)
    }
}
