.reinforcements {
    float: right;
    top: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        font-size: 2rem;
    }

  input {
    height: $input-field-height;
    width: $input-field-width;
    font-size: 3rem;
    text-align: center;
  }
}
