input {
    height: $input-field-height;
    width: $input-field-width;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

label {
    font-size: 2rem;

    @media only screen and (max-width: 750px) { 
        font-size: 1.75rem;
        text-align: center;
    };
}

@font-face {
    font-family: "ringbearer";
    src: url('@/assets/Ringbearer.ttf') format('truetype');
}

@font-face {
    font-family: "party-business";
    src: url("@/assets/PartyBusiness.ttf") format('truetype');
}

.user-colour--BLACK {
    color: $color-black;
}

.user-colour--RED {
    color: $color-red;
}

.user-colour--GREEN {
    color: $color-mirkwood-green;
}

.user-colour--YELLOW {
    color: $color-haradwaith-yellow;;
}