@media only screen and (max-width: 600px) {
    #map {
        max-width: 10%;
        max-height: 10%
    }
}

@media only screen and (max-width: 600px) {
    #map {
        max-width: 10%;
        max-height: 10%
    }
}