// Colors
$color-eriador-green: #CDD53C;
$color-arnor-red: #9E4126;
$color-rhun-grey: #725F49;
$color-mirkwood-green: #A3D065;
$color-rohan-blue: #6cb69d;
$color-rhovanion-yellow: #D2992E;
$color-gondor-red: #A95011;
$color-mordor-dark: #6A702E;
$color-haradwaith-yellow: #CFAA13;
$color-greyed-out: #b8adad;

$color-red: #E63946;
$color-light: #F1FAEE;
$color-light-blue: #A8DADC;
$color-medium-blue: #457B9D;
$color-dark-blue: #1D3557;

$input-field-height: 4rem;
$input-field-width: 20rem;